.truncate{
	display: block;
	white-space: nowrap;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}
.example-header-image {
	background-image: url('../../../../assets/test.png');
	background-size: cover;
  }