<div class="bootstrap-wrapper">
	<div class="row mt20">
		<div class="col-md-12">
			<h1>Adding Question to <span style="font-weight: bold;">{{qTitle}}</span></h1>
			<mat-card>

				<mat-card-header>
					<mat-card-subtitle>
						Enter the details of the new question
					</mat-card-subtitle>
				</mat-card-header>
				<mat-card-content>

					<form class="mt20" (submit)="submitData()">
						
						<mat-form-field class="w100">
							<mat-label>Enter question content</mat-label>
							<textarea required [(ngModel)]="question.content" name="content" matInput rows="9" placeholder="Enter here."></textarea>
						  </mat-form-field>

						  <div class="row">
							<div class="col-md-6">
									<mat-form-field class="w100">
											<mat-label>Enter Option 1</mat-label>
											<input required type="text" matInput [(ngModel)]="question.option1" name="option1">
									</mat-form-field>
							</div>
							<div class="col-md-6">
								<mat-form-field class="w100">
									<mat-label>Enter Option 2</mat-label>
									<input required type="text" matInput [(ngModel)]="question.option2" name="option2">
							</mat-form-field>
							</div>
						  </div>

						  <div class="row">
							<div class="col-md-6">
								<mat-form-field class="w100">
									<mat-label>Enter Option 3</mat-label>
									<input type="text" matInput [(ngModel)]="question.option3" name="option3">
							</mat-form-field>
							</div>
							<div class="col-md-6">
								<mat-form-field class="w100">
									<mat-label>Enter Option 4</mat-label>
									<input type="text" matInput [(ngModel)]="question.option4" name="option4">
							</mat-form-field>
							</div>

						  </div>

							<mat-form-field class="w100">
								<mat-label>Select Answer</mat-label>
								<mat-select required [(ngModel)]="question.answer" name="answer" required>
									<mat-option *ngIf="question.option1" [value]="question.option1">{{question.option1}}</mat-option>
									<mat-option *ngIf="question.option2" [value]="question.option2">{{question.option2}}</mat-option>
									<mat-option *ngIf="question.option3" [value]="question.option3">{{question.option3}}</mat-option>
									<mat-option *ngIf="question.option4" [value]="question.option4">{{question.option4}}</mat-option>
								</mat-select>
							</mat-form-field>

						  <div class="container text-center">
							<button mat-raised-button>ADD</button>
						</div>
					</form>
				</mat-card-content>
			</mat-card>
		</div>
	</div>
</div>