<div class="bootstrap-wrapper" *ngIf="!isSubmit">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-2">
			<mat-card class="mt70">
				<mat-card-content>
					<h3><b>Instructions</b></h3>
					<ul>
						<li>Don't refresh this page</li>
						<li>Don't switch tabs</li>
						<li>Don't minimize the window</li>
					</ul>
				</mat-card-content>
			</mat-card>
			</div>
			<div class="col-md-8">
				<ng-container *ngIf="questions">
					<h1 class="mt20">On going Quiz <b>{{questions[0].quiz.title}}</b></h1>
				</ng-container>

				<mat-card *ngFor="let quest of questions; let i = index;" class="mt10">

					<mat-card-content>
						<p>
							<b>Q{{i+1}}) </b>
							<span [innerHTML]="quest.content"></span>
						</p>

						<mat-divider></mat-divider>
						<br>

						<div class="row mt20">
							<div class="col-md-6">
								<input [(ngModel)]="quest['givenAnswer']" type="radio" [value]="quest.option1" name={{i}}
									>{{quest.option1}}
							</div>
							<div class="col-md-6">
								<input [(ngModel)]="quest['givenAnswer']" type="radio" [value]="quest.option2" name={{i}}>{{quest.option2}}
							</div>
						</div>

						<div class="row mt20">
							<div class="col-md-6">
								<input [(ngModel)]="quest['givenAnswer']" type="radio" [value]="quest.option3" name={{i}}>{{quest.option3}}
							</div>
							<div class="col-md-6">
								<input [(ngModel)]="quest['givenAnswer']" type="radio" [value]="quest.option4" name={{i}}>{{quest.option4}}
							</div>
						</div>

					</mat-card-content>
				</mat-card>

				<div class="container text-center mt20 mb20">
					<button mat-raised-button (click)="submitQuiz()">Submit</button>
				</div>

			</div>
			<div class="col-md-2 loader-spinner">
				<mat-card class="mt70">
					<mat-card-header>
						<mat-card-title>
							Progress
						</mat-card-title>
						<mat-card-subtitle>
							Quiz will automatically submitted when the timer reaches to the end.
						</mat-card-subtitle>
					</mat-card-header>
					<mat-card-content>
						<h2 class="text-center">{{getFormattedTime()}}</h2>
						<mat-spinner mode="determinate" [value]="(timer/ (this.questions.length * 2 * 60)) * 100" style="margin: auto;"></mat-spinner>
					</mat-card-content>
				</mat-card>
			</div>
		</div>
	</div>
</div>

<div class="bootstrap-wrapper" *ngIf="isSubmit">
	<div class="row mt20">
		<div class="col-md-6 offset-md-3">
			<mat-card>
				<mat-card-header>
					<mat-card-title>
						Quiz Result
					</mat-card-title>
				</mat-card-header>
				<mat-card-content class="text-center">
					<h1>Your Mark: <b>{{ marksGained | number:'1.1-2'}}</b></h1>
					<h1>Correct Answers: <b>{{ correctAnswers }}</b></h1>
					<h1>Number of Solved Questions: <b>{{ attempted }}</b></h1>
				</mat-card-content>
				<mat-card-actions class="text-center">
						<button mat-raised-button (click)="printPage()" color="primary">Print Result</button>
						<button mat-stroked-button [routerLink]="'/user-dashboard/0'">Home</button>
				</mat-card-actions>
			</mat-card>
		</div>
	</div>
</div>