<mat-toolbar class="toolbar-color">
	<a [routerLink]="'/'" 
	 mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
	 <mat-icon>local_library</mat-icon>
	</a>
   <span>Examination</span>
   <span class="example-spacer"></span>

   <a 
   *ngIf="!isLoggedIn"
   [routerLink]="'/login'" 
   mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
	Login
   </a>

   <a 
   *ngIf="!isLoggedIn"
   [routerLink]="'/signup'" 
    mat-icon-button class="example-icon favorite-icon mr20 ml20" aria-label="Example icon-button with heart icon">
	Register
   </a>

   <a 
   routerLink="/admin/profile"
   *ngIf="isLoggedIn && user"
    mat-icon-button class="example-icon favorite-icon mr20 ml20" aria-label="Example icon-button with heart icon">
	{{ user['username'] }}
   </a>

   <a 
   (click) = "logout()"
   *ngIf="isLoggedIn"
    mat-icon-button class="example-icon favorite-icon mr20 ml20" aria-label="Example icon-button with heart icon">
	Logout
   </a>

 </mat-toolbar>