<div class="bootstrap-wrapper">

	<div class="container">
		<div class="row" style="margin-top: 20px;">

			<div class="col-md-6 offset-md-3">
				<div class="container text-center">
					<img src="../../../assets/logo.jpeg" alt="" class="logo">
				</div>
				<h1 class="text-center">Register Here!</h1>

				<form>

				<!-- Username Field -->
					<mat-form-field class="full-width" appearance="outline">
						<mat-label>Username</mat-label>
						<input matInput placeholder="Enter here">
						<mat-hint>Hint</mat-hint>
					  </mat-form-field>

					  <!-- Pass word Field -->
					  <mat-form-field class="full-width" appearance="outline">
						<mat-label>Password</mat-label>
						<input type="password" matInput placeholder="Enter here">
						<mat-hint>Hint</mat-hint>
					  </mat-form-field>


					  <!-- FirstName Field -->
					  <mat-form-field class="full-width" appearance="outline">
						<mat-label>First Name</mat-label>
						<input matInput placeholder="Enter here">
						<mat-hint>Hint</mat-hint>
					  </mat-form-field>

					  	  <!-- LastName Field -->
							<mat-form-field class="full-width" appearance="outline">
								<mat-label>Last Name</mat-label>
								<input matInput placeholder="Enter here">
								<mat-hint>Hint</mat-hint>
							</mat-form-field>

	 						 <!-- Email Field -->
							<mat-form-field class="full-width" appearance="outline">
								<mat-label>E-mail</mat-label>
								<input type="email" matInput placeholder="Enter here">
								<mat-hint>Hint</mat-hint>
							</mat-form-field>

							 <!-- Phone Number Field -->
							 <mat-form-field class="full-width" appearance="outline">
								<mat-label>Phone Number</mat-label>
								<input type="number" matInput placeholder="Enter here">
								<mat-hint>Hint</mat-hint>
							</mat-form-field>

							<div class="container text-center">
								<button mat-raised-button color="basic">Register</button>
								<button mat-raised-button style="margin-left: 20px;" color="warn">Clear</button>
							</div>
				</form>



			</div>

		</div>
	</div>

</div>