<mat-card *ngIf="user">
	<h1>Your Profile Details</h1>
	<mat-card-content>
		<div class="bootstrap-wrapper">
			<div class="container">
				<div class="container text-center">
					<img class="profile-image" src="https://media.istockphoto.com/id/1393750072/vector/flat-white-icon-man-for-web-design-silhouette-flat-illustration-vector-illustration-stock.jpg?s=612x612&w=0&k=20&c=s9hO4SpyvrDIfELozPpiB_WtzQV9KhoMUP9R9gVohoU=" alt="" srcset="">
			
					<h1 class="mt20">{{user['firstName']}} {{user['lastName']}} </h1>
				</div>

				<div class="row">
					<div class="col-md-10 offset-md-1">
						<!-- Table Details -->
						<table class="table text-center">

							<tr>
								<td>Username</td>
								<td>{{user['username']}} </td>
							</tr>


							<tr>
								<td>User-id</td>
								<td>{{user['id']}} </td>
							</tr>


							<tr *ngIf="user['phone']">
								<td>Phone</td>
								<td>{{user['phone']}} </td>
							</tr>


							<tr>
								<td>Role</td>
								<td>{{user["authorities"][0]["authority"]}} </td>
							</tr>


							<tr>
								<td>Status</td>
								<td>{{user['enabled']? "ACTIVE": "NOTACTIVE"}}</td>
							</tr>

						</table>
					</div>
				</div>
			</div>
		</div>
	</mat-card-content>
	<mat-card-actions class="text-center">
		<button mat-raised-button>UPDATE</button>
		<button mat-raised-button color="warn">SHARE</button>
	</mat-card-actions>
</mat-card>